@import "variables";
@import "mixins";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

._next,
html,
body,
body > div:first-of-type {
  height: 100%;
}

body {
  background: $c-bg;
  background-size: cover;
  color: $c-clean;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow-y: hidden;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
  }

  &:before {
    max-width: 1920px;
    background-image: url("../../public/backgrounds/hero.png");
    background-position: center top;
  }

  &:after {
    max-width: 2325px;
    background-image: url("../../public/backgrounds/effects.png");
    background-position: -115px 110px;
  }
}

main {
  padding: 30px 0;
  flex: 1 1 auto;
  overflow: hidden;
}

// Scroll

*::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 6px;
  cursor: pointer;
  position: unset;
}

*::-webkit-scrollbar-track {
  border-radius: 2px;
  background: $c-bg;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $c-primary-80;
}

// Toast

.Toastify__toast-theme--dark {
  @include gradient-bg(1px);
}

.Toastify__close-button {
  width: fit-content;
}

// Default styles

.container {
  width: 100%;
  max-width: $s-container;
  padding: 0 24px;
  margin: 0 auto;
}

button {
  font-weight: 400;
  font-size: $fs-btn;
  color: $c-primary-100;
  background: $c-linear-2;
  border-radius: $s-bradius-1;
  cursor: pointer;
  padding: 24px 32px;
  width: 100%;
  max-width: 497px;

  &.small_button {
    max-width: 288px;
  }

  &:hover {
    color: $c-primary-80;
  }

  &:active {
    color: $c-clean;
  }

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }
}

input {
  outline: none;
  @include gradient-bg(1px);
  border-radius: $s-bradius-1;

  width: 100%;
  max-width: 493px;
  padding: 24px;

  font-size: $fs-input;
  font-weight: $fw-light;
  color: $c-text-40;

  &:focus,
  &:active {
    color: $c-clean;
  }

  &.error,
  &:invalid {
    color: $c-clean;
    background: $c-error-bg;
    border-color: $c-error;
  }

  &:disabled {
    background: $c-clean-5;
    border-color: $c-border;
  }

  &::placeholder {
    color: $c-text-40;
  }
}

// Typography

h1, h2, h3, h4 {
  font-family: 'Clash Display', sans-serif;
  font-weight: $fw-semi-bold;
  line-height: 120%;
  font-size: $fs-h1;
}

h2 {
  font-size: $fs-h2;
}

h3 {
  font-size: $fs-h3;
}

h4 {
  font-size: $fs-h4;
  font-weight: $fw-regular;
}

p, a, span {
  font-family: "Inter", sans-serif;
  font-size: $fs-p-1;
  font-weight: $fw-light;
  line-height: 140%;
}

p {
  &.text2 {
    font-size: $fs-p-2;
  }
}

a {
  text-decoration: none;
  color: $c-clean;
}
